$mdc-theme-primary: #003e7e;
$mdc-theme-secondary: #ffc423;
$mdc-theme-on-primary: #fff;
$mdc-theme-on-secondary: #442b2d;



@import 'material-components-web/material-components-web';
@mixin center-horizontal {
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
table {
  table-layout: fixed;
  display: inline;
  margin: 0;
  padding: 0;
}
td {
  margin: 0;
  padding: 0;
  position: relative;
  left: -3px;
  vertical-align: top;
}

.formDisplay {
  overflow-y: hidden;
  transition: all 500ms $mdc-animation-standard-curve-timing-function;
}
.actionButtons {
  transition: all 500ms $mdc-animation-standard-curve-timing-function;
  position: relative;
}


.intl-bar {
  @include mdc-toolbar-fill-color(#fff);
  @include mdc-toolbar-ink-color(#003e7e);
  border-radius: 5px;
}

.card-img {
  width: 100%;
  border-radius: 4px;
}

.intl-grid {

}

.animSchool {

  transition: all 500ms $mdc-animation-standard-curve-timing-function;
  &.show {
    transform: scale(1);
  }
  &.hide {
    transform: scale(0.001);
  }
}

.move-row {
  transition: all 500ms $mdc-animation-standard-curve-timing-function;
}

.intl-field {
  width: 100%;
}

.divider {
    display: block;
    height: 1px;
    background-color: rgba(0,0,0,.12);
}



@media (min-width: mdc-layout-grid-breakpoint-min(desktop)) {
  .form-card {
    width: 840px;
    @include center-horizontal;
  }
  .show-desktop-only {
    display: block !important;
  }
  .show-tablet-only {
    display: none !important;
  }
  .show-phone-only {
    display: none !important;
  }
  .parallax {
    background-position-x: 280px;
  }

  .logo {
    width: 300px;
  }
}

@media (min-width: mdc-layout-grid-breakpoint-min(tablet)) and (max-width: mdc_layout-grid-breakpoint-min(desktop)) {
  .form-card {
    width: 100%;
  }
  .show-desktop-only {
    display: none !important;
  }
  .show-tablet-only {
    display: block !important;
  }
  .show-phone-only {
    display: none !important;
  }
  .parallax {
    background-position-x: -280px;
  }
  .logo {
    width: 300px;
  }
}

@media (min-width: 0px) and (max-width: mdc_layout-grid-breakpoint-min(tablet)) {

  .show-desktop-only {
    display: none !important;
  }
  .show-tablet-only {
    display: none !important;
  }
  .show-phone-only {
    display: block !important;
  }
  .parallax {
    background-position-x: -380px;
  }
  .logo {
    width: 200px;
  }
}
.indent {
  margin-left: 21px
}
.parallax {
    /* The image used */
    background-image: url("/app/canoe.jpg");

    /* Set a specific height */
    height: 200px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position-y: -300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.animated-section {
  width: 840px;
  margin: 0;
}



.hidden {
  display: none;
}

html {
  margin: 0;

  background: linear-gradient(180deg, rgba(0,62,126,1) 0%, rgba(0,44,88,1) 100%);
  background-size: fill;
  background-repeat: no-repeat;
}
body {

}
